@model MyBDTheque.Core.Data.BandeDessinee

@{
    ViewData["Title"] = "Edit";

    // Les auteurs :
    List<MyBDTheque.Core.Data.Auteur> listeAuteurs = ViewBag.LesAuteurs;
    List<SelectListItem> listeItemsAuteurs = new List<SelectListItem>();
    listeItemsAuteurs.Add(new SelectListItem() { Text = "", Value = "0" });
    listeItemsAuteurs.AddRange(listeAuteurs.Select(item => new SelectListItem() { Text = item.NomComplet, Value = item.AuteurId.ToString() }).ToList());
    foreach (var item in listeItemsAuteurs)
    {
        if (Model.BandeDessineeAuteurs.Find(a => a.AuteurId.ToString() == item.Value) != null)
        {
            item.Selected = true;
        }
    }
    // les séries :
    List<MyBDTheque.Core.Data.Serie> listeSeries = ViewBag.LesSeries;
    List<SelectListItem> listeItemsSeries = new List<SelectListItem>();
    listeItemsSeries.Add(new SelectListItem() { Text = "", Value = "0" });
    listeItemsSeries.AddRange(listeSeries.Select(item => new SelectListItem() { Text = item.Titre, Value = item.SerieId.ToString() }).ToList());
}

<h1>Edit</h1>

<h4>BandeDessinee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BandeDessineeId" />
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateParution" class="control-label"></label>
                <input asp-for="DateParution" class="form-control" />
                <span asp-validation-for="DateParution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <select asp-for="SerieId" asp-items="listeItemsSeries"></select>
            </div>
            <div class="form-group">
                <label asp-for="BandeDessineeAuteurs" class="control-label"></label>
                <select name="auteurs" multiple class="form-control" asp-items="listeItemsAuteurs"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
